@*@using ContractorPortal.Constants;*@
<!DOCTYPE html>
@* @RenderBody() *@

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Srisawad K2 Portal</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/devscripts")*@

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Font awersome CSS -->
    <link href="~/Content/all.css" rel="stylesheet" />
    <!-- Datepicker  CSS -->
    <link href="~/Content/bootstrap-datepicker.css" type="text/css" />
    @*<link href="~/Scripts/DatePicker/css/datepicker.css" rel="stylesheet" type="text/css" />
        <link href="~/Scripts/DatePicker/css/main.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">

    @*<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>*@

    @*<script src="~/Scripts/devscripts/ScriptPortal.js"></script>*@
    @*
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/datepicker")
        @Scripts.Render("~/bundles/modernizr")
    *@
</head>
<body class="sb-nav-fixed sb-sidenav-toggled">

    <nav class="sb-topnav navbar navbar-expand navbar-light bg-primary">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="~/Tracking/MyTask">Sawad K2 Portal</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i>
                        @{
                            @*if (Session[SessionConstants.UFullname] != null)
                                {
                                    @Session[SessionConstants.UFullname].ToString();
                                }
                                else
                                {
                                    Response.Redirect("~/logon/index");
                                }*@

                            if (Session["Username"] != null)
                            {
                                @Session["Username"].ToString();
                            }
                            else
                            {
                                Response.Redirect("~/logon/index");
                            }
                        }
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>

                            @if (Session["AuthenType"].ToString() == "form")
                            {
                                <a class="dropdown-item" href="~/logon/formlogin">Logout</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="~/logon/adlogin">Logout</a>
                            }
                        </li>
                    </ul>
                </li>
            </ul>
        </form>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"></div>
                        <a class="nav-link" href="~/Tracking/MyTask">
                            <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
                            My Task
                        </a>
                        <a class="nav-link" href="~/Tracking/AllTask">
                            <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                            All Task
                        </a>
                        @{ Html.RenderAction("Index", "Menu");}

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">@*Logged in as: Text HERE*@</div>

                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid p-3">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">&copy; 2024 Srisawad </div>
                        @*<div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Bootstrap core Scripts-->
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <!-- Jquery Scripts -->
    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
    <!-- Datepicker Scripts -->
    <script src="~/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/DatePicker/js/main.js" type="text/javascript"></script>
    <script src="~/Scripts/DatePicker/js/datepicker.js" type="text/javascript"></script>


    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>

    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>

    @*@Scripts.Render("~/bundles/devscripts")*@

    @*
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/datepicker")
        @RenderSection("scripts", required: false)
    *@

</body>
</html>